<!-- Footer Documents -->
<!-- Ryan Lam -->
<!-- 301265448 -->
<!-- 10-01-2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- Footer -->
<body>
    <footer class="container-fluid bg-dark text-white text-center py-7">
        <div class="container">
            <div class="row justify-content-center">
                <h5>Contact Me</h5>
            <div class="col-md-4 col-sm-6">
                <p>Email: ryanlam5784@gmail.com</p>
            </div>
            <div class="col-md-4 col-sm-6">
              <p>Phone Number: +1 (437)-972-4870</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <p><a href="https://www.linkedin.com/in/ryan-lam-0249b4208" target="_blank">LinkedIn</a></p>
              </div>
        </div>
    </footer>
</body>
</html>