<!-- Header Documents -->
<!-- Ryan Lam -->
<!-- 301265448 -->
<!-- 10-01-2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
            .custom-logo {
            width: 50px;
            height: 50px;
            background-color: #343a40; 
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<!-- Navgation Bar -->
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/logo3.png" alt="Logo" class="mr-2 custom-logo">
            Ryan Lam</a>
        <div>
            <button class="navbar-toggler" data-bs-target="#myCollapse" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
         <div class="collapse navbar-collapse" id="myCollapse"> 
            <ul class="navbar-nav">
                <li class="nav-item text-uppercase "><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item text-uppercase"><a href="./about" class="nav-link">About</a></li>
                <li class="nav-item text-uppercase"><a href="./project" class="nav-link">Project</a></li>
                <li class="nav-item text-uppercase"><a href="./service" class="nav-link">Service</a></li>
                <li class="nav-item text-uppercase"><a href="./contact" class="nav-link">Contact</a></li>
            </ul>  
        </div>  
       </div>  
    </div>
    </nav>
</body>
</html>